@tailwind base;
@tailwind components;
@tailwind utilities;

.back-button {
  box-shadow: 0px 0px 0px theme("colors.purple.200");
  transition: all 0.1s ease;
}

.back-button:hover {
  box-shadow: 5px 5px 0px theme("colors.purple.200");
}
